__pycache__

# Robot framework test oututs
output
interactive_console_output.xml

# Server files password that shouldn't be given
.rcon-cli.env
server.properties

# Ignore the MinecraftClient binary that gets download by the container
MinecraftClient
MinecraftClient.backup.ini

# Ignore setup-tools artifacts
build
mcc.py.egg-info
